[Unit]
Description=Ansible Runner Service
After=network.target

[Service]
ExecStart=/usr/bin/gunicorn-3 -b localhost:50001 -w 2 runner_service.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
