<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ansible-runner-service API</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
</head>
<body>
    <img src="{{ url_for('static', filename='Ansible_logo.png')}}" class="logo" />
    <h2>ansible-runner-service API Documentation</h2>
    <br>
    <p>The table below shows the available API endpoints with their associated
    methods. Clicking on an endpoint row, expands the row to show related methods,
    parameters and, where appropriate, provide examples.</p>

    <table id="endpoints" class="api-table">
        <tr style="width:100%;">
              <th style="width:30%;text-align:left;">API Route</th>
              <th style="width:auto;text-align:left;">Description</th>
        </tr>

        {% for route in routes %}
        <tr onclick="showme.call(this);" >
          <td colspan="2" style="padding-right:10px;">
              <span  class="api-text" style="width:30%;display:inline-block;">{{ route['route'] }}</span>
              <span style="width:auto;display:inline-block;">
                  {% autoescape False %}
                  {{ route['description'] | replace('\n', '<br>') }}
                  {% endautoescape %}
              </span>
              <div class="api-row-container" style="display:none;">
                  {% for method in route['methods'] %}
                  <div class="method-info">
                      <div style="position:relative; width:10%;display:inline-block;">
                          <br>
                          <span class="button {{method.lower()}}">{{ method }}</span>
                      </div>
                      <div class="info" style="width:90%; ">
                          <!-- mimic a ninja 2.10+ namespace -->
                          {% set ns = { 'console_mode': True } %}
                          {% for detail in route['details'][method] %}
                            {% if detail == "```" %}
                              {% if ns.console_mode %}
                                {{ "<div class='codeblock'>" | safe }}
                                {% if ns.update({"console_mode": False}) %}{% endif %}
                              {% else %}
                                {{ "</div>" | safe }}
                                {% if ns.update({"console_mode": True}) %}{% endif %}
                              {% endif %}
                            {% else %}
                              {{ detail | safe }}
                              {{ "<br>" | safe }}
                            {% endif %}
                          {% endfor %}
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
